<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改新闻</title>
</head>
<body>
<form action="/news/update" method="post" enctype="multipart/form-data">
    id：<input type="text" name="id" value="${news.id}" readonly="readonly"/>
    <p/>
    新闻编号：<input type="text" name="newsId" value="${news.newsId}" readonly="readonly"/>
    <p/>
    新闻标题：<input type="text" name="title" value="${news.title}"/>
    <p/>
    新闻内容：<input type="text" name="context" value="${news.context}"/>
    <p/>
    新闻作者：<input type="text" name="newsMan" value="${news.newsMan}"/>
    <p/>
    发布时间：
    <input type="date" name="newsDate" value="<#if news?? && news.newsDate??>${news.newsDate?string('yyyy-MM-dd')}</#if>">
    <p/>
    新闻类型：<select name="typeId">
                <#list types as t>
                    <option value="${t.typeId}" <#if news.typeId==t.typeId>selected="selected"</#if>>${t.typeName}</option>
                </#list>
            </select>
    <p/>
    <img src="${news.pic}">
    <input name="imgPic" type="hidden" value="${news.pic}">
    新闻图片：<input type="file" name="imgPic">
    <p/>
    <input type="submit" value="修改">
</form>
</body>
</html>
